<%-include("header") -%>


    <!-- HEADER SECTION -->

    <header class="header" id="home">
        <div class="logo">
            <p>Goa Holiday Beach Resort</p>
        </div>
        <%-include("navbar") -%>

            <div class="header__heading_box">
                <h1 class="header__heading">
                    Affordable Comfort and Convenience <br>
                    Experience a Cozy Stay at Our <br>
                    Budget-Friendly Hotel
                </h1>
            </div>

            <div class="header__btn_box">
                <a class="btn btn__view" href="#room">VIEW ROOMS</a>
                <a class="btn btn__book" href="http://localhost:3000/booking">BOOK NOW</a>
            </div>
    </header>

    <!-- ABOUT SECTION -->

    <section class="about" id="about">
        <div class="logo">
            <p>Goa Holiday Beach Resort</p>
        </div>

        <div class="about__heading">
            <h2>Welcome to Your Perfect Getaway!</h2>
        </div>

        <div class="about__para">
            <p>
                Discover a hidden gem just 5km away from the captivating Calangute Beach in Goa. Our pocket-friendly
                hotel offers you the ideal blend of comfort, convenience, and budget-friendly luxury.
                Nestled in the heart of the stunning coastal paradise, we pride ourselves on being your home away from
                home. Whether you're seeking a tranquil escape or an adventure-filled holiday, our hotel provides the
                perfect base for your Goan journey.
                Why Choose Us?<br> <br>
                <b>01) Proximity to Calangute Beach:</b> Imagine having the renowned Calangute Beach just a short 5km
                drive away. Sun, sand, and the Arabian Sea await you for a truly unforgettable beach experience. <br>
                <b>02) Affordable Comfort:</b> We understand the value of a well-deserved vacation, which is why we
                offer competitive rates without compromising on quality. Rest easy in our thoughtfully designed rooms
                that cater to your every need. <br>
                <b>03) Charming Ambiance:</b> Our hotel exudes a warm and welcoming ambiance, making you feel right at
                home from the moment you step through our doors. Relax in our cozy lounges, soak in the serene
                surroundings, and create lasting memories. <br>
                <b>04) Local Flavors:</b> Indulge in the vibrant flavors of Goa with our on-site dining options. Taste
                the authentic cuisine that the region is famous for, adding a delightful culinary dimension to your
                stay. <br>
                <b>05) Easy Access:</b> With our strategic location, you'll have convenient access to both the vibrant
                local attractions and the peaceful retreat of our hotel. Explore the lively markets, historical sites,
                and the nightlife that Goa is renowned for.
                At our hotel, we believe that every traveler deserves an unforgettable experience without breaking the
                bank. Your dream Goa vacation is within reach, and we're here to make it a reality.
                Book your stay with us today and let us be a part of your Goan adventure!
            </p>
        </div>
    </section>

    <!-- ROOMS SECTION -->

    <section class="room" id="room">
        <div class="logo">
            <p>Goa Holiday Beach Resort</p>
        </div>

        <div class="room__box">

            <div class="room__card">
                <div class="room__card_img">
                    <img src="css/img/family.jpg" alt="room img">
                </div>

                <div class="room__card_body">
                    <p class="price">
                        &#8377;1275
                        <span class="ogprice">&#8377;1500</span>
                    </p>
                    <p class="name">Family room</p>
                </div>

                <div class="room__card_footer">
                    <a class="" href="http://localhost:3000/booking">BOOK</a>
                </div>

            </div>

            <div class="room__card">
                <div class="room__card_img">
                    <img src="css/img/cottage.jpg" alt="room img">
                </div>

                <div class="room__card_body">
                    <p class="price">
                        &#8377;1275
                        <span class="ogprice">&#8377;1500</span>
                    </p>
                    <p class="name">Cottage room</p>
                </div>

                <div class="room__card_footer">
                    <a class="" href="http://localhost:3000/booking">BOOK</a>
                </div>

            </div>


            <div class="room__card">
                <div class="room__card_img">
                    <img src="css/img/superdelux.jpg" alt="room img">
                </div>

                <div class="room__card_body">
                    <p class="price">
                        &#8377;1275
                        <span class="ogprice">&#8377;1500</span>
                    </p>
                    <p class="name">Super Delux room</p>
                </div>

                <div class="room__card_footer">
                    <a class="" href="http://localhost:3000/booking">BOOK</a>
                </div>

            </div>
  

            <div class="room__card">
                <div class="room__card_img">
                    <img src="css/img/delux.jpg" alt="room img">
                </div>

                <div class="room__card_body">
                    <p class="price">
                        &#8377;1275
                        <span class="ogprice">&#8377;1500</span>
                    </p>
                    <p class="name">Delux Room</p>
                </div>

                <div class="room__card_footer">
                    <a class="" href="http://localhost:3000/booking">BOOK</a>
                </div>

            </div>



        </div>
    </section>

    <!-- Facilities -->

    <section class="facilities">
        <div class="logo">
            <p>Goa Holiday Beach Resort</p>
        </div>

        <div class="facilities__heading" id="facilities">
            <h2>
                Facilities of Goa Holiday Beach Resort
            </h2>

        </div>

       
            <div class="row" style="margin: 0 auto;">
                <div class="col">

                    <ul>
                        <h3>Bathroom</h3>
                        <li> <i class="bi bi-check-circle-fill"></i> Toilet paper</li>
                        <li> <i class="bi bi-check-circle-fill"></i> Towels</li>
                        <li> <i class="bi bi-check-circle-fill"></i> Towels/sheets (extra fee)</li>
                        <li> <i class="bi bi-check-circle-fill"></i> Bath or shower</li>
                        <li> <i class="bi bi-check-circle-fill"></i> Private bathroom</li>
                        <li> <i class="bi bi-check-circle-fill"></i> Free toiletries</li>
                        <li> <i class="bi bi-check-circle-fill"></i> Toilet</li>
                        <li> <i class="bi bi-check-circle-fill"></i> Shower</li>
                        <li> <i class="bi bi-check-circle-fill"></i> Bath</li>
                    </ul>

                    <ul>
                        <h3>Bedroom</h3>
                        <li> <i class="bi bi-check-circle-fill"></i> Linen</li>
                    </ul>

                    <ul>
                        <h3>View</h3>
                        <li> <i class="bi bi-check-circle-fill"></i> City view</li>
                        <li> <i class="bi bi-check-circle-fill"></i> pool view</li>
                        <li> <i class="bi bi-check-circle-fill"></i> Garden view</li>
                    </ul>

                    <ul>
                        <h3>Outdoors</h3>
                        <li> <i class="bi bi-check-circle-fill"></i> Balcony</li>
                        <li> <i class="bi bi-check-circle-fill"></i> Terrace</li>
                        <li> <i class="bi bi-check-circle-fill"></i> Garden</li>
                    </ul>

                    <ul>
                        <h3>Kitchen</h3>
                        <li> <i class="bi bi-check-circle-fill"></i> Coffee machine</li>
                        <li> <i class="bi bi-check-circle-fill"></i> Electric kettle</li>
                    </ul>

                    <ul>
                        <h3>Room Amenities</h3>
                        <li> <i class="bi bi-check-circle-fill"></i> Clothes rack</li>
                    </ul>

                    <ul>
                        <h3>Pets</h3>
                        <li> <i class="bi bi-check-circle-fill"></i> Pets are allowed on request. No extra charges.</li>
                    </ul>
                </div>

                    <div class="col">
                        <ul>
                            <h3>
                                Activities
                            </h3>
                            <li>Bicycle rental</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Happy hour</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Bike tours</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Water park </li>
                        </ul>
    
                        <ul>
                            <h3>
                                Living Area
                            </h3>
                            <li> <i class="bi bi-check-circle-fill"></i> Desk</li>
                        </ul>
    
                        <ul>
                            <h3>
                                Media & Technology
                            </h3>
                            <li> <i class="bi bi-check-circle-fill"></i> Flat-screen TV</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Cable channels</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Satellite channels</li>
                            <li> <i class="bi bi-check-circle-fill"></i> TV</li>
                        </ul>
    
                        <ul>
                            <h3>
                                Food & Drink
                            </h3>
                            <li> <i class="bi bi-check-circle-fill"></i> Kid meals</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Bar</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Restaurant</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Tea/Coffee maker</li>
                        </ul>
    
                        <ul>
                            <h3>
                                Internet
                            </h3>
                            <li> <i class="bi bi-check-circle-fill"></i> WiFi is available in all areas and is free of
                                charge.</li>
                        </ul>
    
                        <ul>
                            <h3>
                                Parking
                            </h3>
                            <li>Free private parking is possible on site (reservation is not needed).</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Electric vehicle charging station</li>
                        </ul>
    
                        <ul>
                            <h3>
                                Reception services
                            </h3>
                            <li> <i class="bi bi-check-circle-fill"></i> Invoice provided</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Lockers</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Luggage storage</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Tour desk</li>
                            <li> <i class="bi bi-check-circle-fill"></i> 24-hour front desk</li>
                        </ul>
    
                        <ul>
                            <h3>
                                Entertainment and family services
                            </h3>
                            <li> <i class="bi bi-check-circle-fill"></i> Kids' outdoor play equipment</li>
                        </ul>
    
    
                    </div>
    
    
                    <div class="col">
                        <ul>
                            <h3>Cleaning services</h3>
                            <li> <i class="bi bi-check-circle-fill"></i> Daily housekeeping</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Trouser press</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Ironing servic</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Dry cleaning</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Laundry</li>
                        </ul>
    
                        <ul>
                            <h3>Business facilities</h3>
                            <li> <i class="bi bi-check-circle-fill"></i> Meeting/banquet facilities
                            </li>
                        </ul>
    
                        <ul>
                            <h3>Safety & security</h3>
                            <li> <i class="bi bi-check-circle-fill"></i> Fire extinguishers</li>
                            <li> <i class="bi bi-check-circle-fill"></i> CCTV outside property</li>
                            <li> <i class="bi bi-check-circle-fill"></i> CCTV in common areas</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Security alarm</li>
                            <li> <i class="bi bi-check-circle-fill"></i> 24-hour security</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Safety deposit box</li>
                        </ul>
    
                        <ul>
                            <h3>General</h3>
                            <li> <i class="bi bi-check-circle-fill"></i> Shuttle service</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Air conditioning</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Non-smoking throughout</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Wake-up service</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Car hire</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Fan</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Family rooms</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Ironing facilities</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Airport shuttle</li>
                            <li> <i class="bi bi-check-circle-fill"></i> Room service</li>
                        </ul>
    
                        <ul>
                            <h3>Outdoor swimming pool</h3>
                        </ul>
    
                        <ul>
                            <h3>Languages spoken</h3>
                            <li> <i class="bi bi-check-circle-fill"></i> English</li>
                            <li> <i class="bi bi-check-circle-fill"></i> English</li>
                        </ul>
                    </div>
                </div>
                  

                
        
    </section>

    <!-- CONTACT -->


    <section class="contact" id="contact">
        <div class="logo">
            <p>Goa Holiday Beach Resort</p>
        </div>
            
        
                
                    <div class="contact__heading">
                        <h2>Location</h2>
                        <p>Property Near Goa Holiday Beach Resort</p>
                    </div>
                        <div class="row" >
                            <div class="col">
                                <ul>
                                    <h3>What's nearby</h3>
                                    <li>Fort Aguada 6 km</li>
                                    <li>Panchayat Ground 7 km</li>
                                    <li>Municipal Garden, Mapusa 7 km</li>
                                    <li>Reis Magos Fort 7 km</li>
                                    <li>Childrens Park Porvorim 7 km</li>
                                    <li>Childrens park 7 km</li>
                                    <li>Children's Park 7 km</li>
                                    <li>Children's Park Mapusa 7 km</li>
                                    <li>Bhagwan Mahavir Garden 7 km</li>
                                    <li>Coach Park 7 km</li>
                                </ul>
            
                            </div>

                            <div class="col">
                                <ul>
                                    <h3>What's nearby</h3>
                                    <li>Fort Aguada 6 km</li>
                                    <li>Panchayat Ground 7 km</li>
                                    <li>Municipal Garden, Mapusa 7 km</li>
                                    <li>Reis Magos Fort 7 km</li>
                                    <li>Childrens Park Porvorim 7 km</li>
                                    <li>Childrens park 7 km</li>
                                    <li>Children's Park 7 km</li>
                                    <li>Children's Park Mapusa 7 km</li>
                                    <li>Bhagwan Mahavir Garden 7 km</li>
                                    <li>Coach Park 7 km</li>
                                </ul>
            
                            </div>

                            <div class="col">
                                <ul>
                                    <h3>What's nearby</h3>
                                    <li>Fort Aguada 6 km</li>
                                    <li>Panchayat Ground 7 km</li>
                                    <li>Municipal Garden, Mapusa 7 km</li>
                                    <li>Reis Magos Fort 7 km</li>
                                    <li>Childrens Park Porvorim 7 km</li>
                                    <li>Childrens park 7 km</li>
                                    <li>Children's Park 7 km</li>
                                    <li>Children's Park Mapusa 7 km</li>
                                    <li>Bhagwan Mahavir Garden 7 km</li>
                                    <li>Coach Park 7 km</li>
                                </ul>
            
                            </div>
                        </div>
                        
                 

             

                <div class="maps" >
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d7687.635855262157!2d73.75791659000353!3d15.54788827650485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x3bbfea0148f4ed2b%3A0xcb592fad5d257d17!2sCalangute%20Beach%2C%20Goa!3m2!1d15.549441!2d73.7534857!4m5!1s0x3bbfc1dfc7beac7d%3A0xb7402faf53d05f78!2sGQVF%2BJ2H%20Goa%20Holiday%20Beach%20Resort%2C%20Dongorpur%2C%20Porvorim%2C%20Sonar%20Vaddo%2C%20Calangute%2C%20Saligao%2C%20Goa%20403519!3m2!1d15.544065499999999!2d73.7726232!5e0!3m2!1sen!2sin!4v1693590653303!5m2!1sen!2sin"
                        width="90%" height="40%" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

           
        
    </section>




















    <%-include("footer") -%>