<div class="navigation">
  
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

    <label for="navi-toggle" class="navigation__button">
      <div class="navigation__icon_container"></div>
      <span class="navigation__icon"><i class="bi bi-list"></i></span>
      <span class="navigation__icon_cancle"><i class="bi bi-x-lg"></i></span>
    </label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
      <div class="logo">
        <p>Goa Holiday Beach Resort</p>
    </div>
      <ul class="navigation__list">
        <li class="navigation__item"><a href="#home" class="navigation__link">01 home</a></li>
        <li class="navigation__item"><a href="#about" class="navigation__link">02 about</a></li>
        <li class="navigation__item"><a href="#room" class="navigation__link">03 rooms</a></li>
        <li class="navigation__item"><a href="#facilities" class="navigation__link">04 Facilities</a></li>
        <li class="navigation__item"><a href="#contact" class="navigation__link">05 contact</a></li>
      </ul>
    </nav>
  </div>