.room {
padding: 1rem 1rem 6rem 1rem;
    &__box{
        text-align: center;
        margin-top: 2rem 0;
        margin-top: 3rem;

      
    }
    &__card {
        
        text-align: left;
        display: inline-block;
        width: 25rem;
        height: 32rem;
        box-shadow: rgb(0, 0, 0) 0px 30px 40px -10px;
        background-color: #ffff;
        margin-right: 4rem;
        margin-bottom: 4rem;

       
        
        &_img img{
            width: 100%;
            height: 60%;
            outline-offset: .6rem;
            transition: .6s;
            
            &:hover,
            &:active{
                transform: scale(1.5);
                outline: .4rem solid $purple;
            }
            
        }

        &_body {
            margin-left: 2rem;
            margin-top: 1rem;
            & .price{
                font-size: 2.5rem;
                font-weight: 400;
                margin-bottom: 0;
                color: $purple;
                & span.ogprice{
                    font-size: 1.5rem;
                    font-weight: 100;
                    text-decoration: line-through;
                    margin-left: 2rem;
                    color: #808080;
                }
            } 

            & .name{
                font-size: 2rem;
                font-weight: 700;
                letter-spacing: .1rem;
            }
        }

        &_footer {
            margin-left: 2rem;
            margin-top: 1rem;
            & a{
                
                padding: .5rem 3rem;
                background-color: $purple;
                color: #ffff;
                text-decoration: none;
                font-size: 1.5rem;
                border-radius: 2rem;
                letter-spacing: 2px;

                &:hover,
                &:active{
                    background-color: #ffff;
                    border: 1px solid $purple;
                    color: $purple;
                }
            } 
        }
    }
}