.room{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.731), rgba(0, 0, 0, 0.662)),
    url("img/background4.jpg");
    
    background-position: center;
    background-size: cover;
}

